---
layout: default
title: Quels articles que j'ai écrit | My corner of the web
---

<h2>&nbsp;</h2>
<hr/>

{% for post in site.posts %}
    <div class="list-item">
      <h3 class="list-post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h3>
      <div class="list-post-date">
        <time>{{ post.date | date_to_long_string }}</time>

        <!-- Estimated reading time -->
          {% assign words = post.content | number_of_words %}

            {% assign quotient = words | divided_by:180 %}

            {% assign remainder = words | modulo:180 %}

            {% if remainder >= 108 %}
                {% assign remainder = 1 %}
            {% else %}
                {% assign remainder = 0 %}
            {% endif %}

          {% if quotient >= 1 %}
            {% assign reading_time = quotient | plus:remainder | append:" min" %}
        {% else %}
            {% assign reading_time = "1 min" %}
        {% endif %}
        &nbsp;|&nbsp;
        {{ reading_time }} read
      </div>

      <p>
        {{ post.excerpt | remove: '<p>' | remove: '</p>'}}<br>
        <a href="{{ post.url }}">Lire la suite ...</a>
      </p>
    </div>
{% endfor %}
 

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>